<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>Cadastro</title>
        <link rel="stylesheet" href="/css/StyleCadastro.css">
    </head>

    <body>

    <header>
        <h1>Cadastro</h1>
    </header>

    <main>

    <form>

    <label>Nome</label>
    <input type="text" required>

    <label>Email</label>
    <input type="email" required>

    <label>Senha</label>
    <input type="password" required>

    <button type="submit">Cadastrar</button>

    </form>

    </main>
    </body>
</html>