<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Lanchonete da Zefa</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/Style.css">
</head>

<body>

<header>
    <img src="/src/main/resources/static/img/logo.png" alt="Logo da Lanchonete da Zefa" width="100">

    <nav>
        <button id="bntPedidos">Pedidos</button>
        <button id="bntCadastro">Cadastrar-se</button>
        <button id="bntLogin">Login</button>
    </nav>
</header>

<main>
    <h1>Bem-vindos à Lanchonete da Zefa</h1>

    <section>
        <h2>Pizzas</h2>
        <article>
            <img src="/src/main/resources/static/img/download.jpg" alt="Pizzas da dona zefa" width="280">
            <p>As melhores pizzas da região.</p>
        </article>
    </section>

    <section>
        <h2>Hambúrgueres</h2>
        <article>
            <img src="/src/main/resources/static/img/download (1).jpg" alt="Hambúrgueres da dona zefa" width="280">
            <p>Hambúrgueres artesanais deliciosos.</p>
        </article>
    </section>

    <section>
        <h2>Cachorro-quente</h2>
        <article>
            <img src="/src/main/resources/static/img/cachorro-quente-capa.webp" alt="cahorro quente da dona zefa" width="280">
            <p>Cachorro-quente completo e saboroso.</p>
        </article>
    </section>

    <section>
        <h2>Batata frita</h2>
        <article>
            <img src="/src/main/resources/static/img/download (2).jpg" alt="Batata frita da dona zefa" width="280">
            <p>Batatas crocantes e bem temperadas.</p>
        </article>
    </section>
</main>

<footer>
    <p>Sobre nós</p>
    <nav>
        <a href="https://facebook.com">Facebook</a>|
        <a href="https://instagram">Instagram</a>|
        <a href="https://youtube">Youtube</a>
    </nav>
</footer>

</body>
</html>