<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Lanchonete da Zefa</title>
</head>

<body>

<header>
    <img src="/src/main/resources/static/img/logo.png" alt="Logo da Lanchonete da Zefa" width="100">

    <nav>
        <button>Pedidos</button>
        <a href="cadastro.html">Cadastrar-se</a> |
        <a href="login.html">Login</a>
    </nav>
</header>

<main>
    <h1>Bem-vindos à Lanchonete da Zefa</h1>

    <section>
        <h2>Pizzas</h2>
        <article>
            <p>As melhores pizzas da região.</p>
        </article>
    </section>

    <section>
        <h2>Hambúrgueres</h2>
        <article>
            <p>Hambúrgueres artesanais deliciosos.</p>
        </article>
    </section>

    <section>
        <h2>Cachorro-quente</h2>
        <article>
            <p>Cachorro-quente completo e saboroso.</p>
        </article>
    </section>

    <section>
        <h2>Batata frita</h2>
        <article>
            <p>Batatas crocantes e bem temperadas.</p>
        </article>
    </section>
</main>

<footer>
    <p>Sobre nós</p>
    <nav>
        <a href="https://facebook.com">Facebook</a>|
        <a href="https://instagram">Instagram</a>|
        <a href="https://youtube">Youtube</a>
    </nav>
</footer>

</body>
</html>