<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<header>
    <nav>
        <a href="home.html">Home</a>
    </nav>
</header>

<main>
    <h1>Login</h1>

    <form>
        <section>
            <label for="email">Email:</label>
            <input id="email" type="email" placeholder="ex: exemplo@gmail.com" required>
        </section>

        <section>
            <label for="password">Senha:</label>
            <input id="password" type="password" placeholder="Senha" required>
        </section>

        <button type="submit">Entrar</button>
    </form>

</main>

</body>
</html>