<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/StylePedidos.css">
</head>

<body>

<header>
    <nav>
        <a href="home.html">Home</a>
    </nav>
</header>

<main>
    <h1>Pedidos</h1>

    <section class="pedido">
        <h2>Pizza</h2>
        <p>Quantidade: 2</p>
        <p>Preço: R$ 40,00</p>
    </section>

    <section class="pedido">
        <h2>Hambúrguer</h2>
        <p>Quantidade: 1</p>
        <p>Preço: R$ 18,00</p>
    </section>

    <section class="pedido">
        <h2>Batata frita</h2>
        <p>Quantidade: 3</p>
        <p>Preço: R$ 15,00</p>
    </section>

    <button>Finalizar Pedido</button>

</main>

</body>
</html>